<label>
  {{{label}}}
  <input name={{{name}}} value="{{{value}}}" {{#if placeholder}} placeholder="{{{placeholder}}}" {{/if}} type={{type}}
    {{#if accept}} accept="{{{accept}}}" {{/if}} {{#if autofocus}} autofocus="{{{autofocus}}}" {{/if}} />
</label>
