<fieldset class="{{class}}{{stylePrefix}}">
	<label class="{{class}}__label" for={{id}}>{{{label}}}</label>
	<input name={{{name}}} placeholder="{{{placeholder}}}" class={{class}}__input type={{type}} accept={{accept}} />
</fieldset>
