<sidebar class={{class.sidebar}}>
	<div class={{class.panel}}>
	{{{link}}}
	{{{message}}}
	</div>
	<ul class={{class.list}}>
		<li>{{{chatItem}}}</li>
		<li>{{{chatItem}}}</li>
		<li>{{{chatItem}}}</li>
		<li>{{{chatItem}}}</li>
		<li>{{{chatItem}}}</li>
		<li>{{{chatItem}}}</li>
		<li>{{{chatItem}}}</li>
		<li>{{{chatItem}}}</li>
		<li>{{{chatItem}}}</li>
		<li>{{{chatItem}}}</li>
		<li>{{{chatItem}}}</li>
		<li>{{{chatItem}}}</li>
	</ul>
</sidebar>
<div class={{class.content}}>
	<p>Заглушка для ленты чата</p>
</div>
<div class={{class.content}}>
	<p>Выберите чат чтобы отправить сообщение</p>
</div>
