<ul>
  <li>
    {{{chats}}}
  </li>
  <li>
    {{{chat}}}
  </li>
  <li>
    {{{setting}}}
  </li>
  <li>
    {{{sign-in}}}
  </li>
  <li>
    {{{sign-up}}}
  </li>
  <li>
    {{{not-found}}}
  </li>
  <li>
    {{{error}}}
  </li>
</ul>
