<h2>
  {{title}}
</h2>
{{{first_name}}}
{{{second_name}}}
{{{login}}}
{{{email}}}
{{{phone}}}
{{{password}}}
{{{repeated_password}}}
<span class={{className}}__error> {{{serverError}}} </span>
{{{sign-up}}}
{{{sign-in}}}

