<fieldset class={{class}}>
	<label class="{{class}}__label" for={{id}}>
		<span class="{{class}}__btn" >Обзор...</span>
		<span class={{class}}__fileName>{{fileName}}</spane>
		<input id={{id}} name={{{name}}} class={{class}}__input type='file' accept={{accept}} />
	</label>
</fieldset>
