<label>
  <span>{{{text}}}</span>
  {{#if avatarName}}
  <span>{{avatarName}}</spane>
    {{else}}
    <span data-style="placeholder">Выбрать файл на компьютере</span>
    {{/if}}
    <input name="{{{name}}}" value="{{{value}}}" type={{type}} accept="{{{accept}}}"> </input>
</label>
