{{{avatar}}}
<div class={{{styles.column}}}>
  <h3 class={{{styles.title}}}>{{{name}}}</h3>
  <p class={{{styles.text}}}>{{{text}}}</p>
</div>
<div class={{{styles.column}}}>
  <span class={{{styles.time}}}>{{{time}}}</span>
  {{#if count}}
  <div class={{{styles.count}}}>{{{count}}}</div>
  {{/if}}
</div>
