{{{avatar}}}
<div class={{class}}__column>
  <h3 class={{class}}__title>{{{name}}}</h3>
  <p class={{class}}__text>{{{text}}}</p>
</div>
<div class={{class}}__column>
  <span class={{class}}__time>{{{time}}}</span>
  {{#if count}}
  <div class={{class}}__count>{{{count}}}</div>
  {{/if}}
</div>
