<div class={{class}}__group>
  {{{avatar}}}
  <span class={{class}}__name>{{activeChat.title}}</span>
</div>
{{{button}}}

{{#if isOpenHeaderMenuModal}}
{{{chatHeaderMenu}}}
{{/if}}

{{#if isOpenAddUserModal}}
<div class={{class}}__wrapper>
{{{addUserPopup }}}
</div>
{{/if}}
