<div class={{{style.group}}}>
  {{{avatar}}}
  <span class={{{style.name}}}>{{activeChat.title}}</span>
</div>
{{{button}}}

{{#if isOpenHeaderMenuModal}}
{{{chatHeaderMenu}}}
{{/if}}

{{#if isOpenAddUserModal}}
<div class={{{style.wrapper}}}>
{{{addUserPopup }}}
</div>
{{/if}}

{{#if isOpenDeleteUserModal}}
<div class={{{style.wrapper}}}>
{{{deleteUserPopup }}}
</div>
{{/if}}
